@tailwind base;
@tailwind components;
@tailwind utilities;

/* ----------- PROJECT CLASSES ----------- */

@layer base {
	body {
		@apply nav:text-body font-sans min-h-screen bg-white;
	}
	h1,
	h2,
	h3,
	h4 {
		@apply tracking-header capitalize leading-header mb-3 nav:leading-headerBigScreen;
	}
	h1 {
		@apply text-h1 nav:text-h1BigScreen;
	}
	h2 {
		@apply text-h2 nav:text-h2BigScreen;
	}
	h3 {
		@apply text-h3 nav:text-h3BigScreen;
	}
	h4 {
		@apply text-h4 nav:text-h4BigScreen;
	}

	th,
	td {
		@apply p-2 sm:p-4;
	}
	th {
		@apply bg-black bg-opacity-80 text-white;
	}

	nav {
		@apply bg-white;
	}
}

@layer components {
	.flex-center {
		@apply flex justify-center items-center;
	}
	.pagination-div-next {
		@apply flex justify-center items-center pt-6 gap-x-4;
	}
	.pagination-div-last {
		@apply flex justify-center items-center pt-6 gap-x-4;
	}

	/*------ BTN ------*/
	.btn {
		@apply uppercase bg-primaryGreen text-white  transition duration-300 ease-linear font-bold inline-block tracking-header px-btnX py-btnY text-btn cursor-pointer shadow-btn rounded-md;
	}
	.btn:hover {
		@apply text-white bg-opacity-75 border rounded-md border-primaryGreen;
	}

	/* --------- HERO HEADER --------- */
	.hero {
		@apply w-screen h-nav flex  justify-center items-center text-center bg-cover bg-center bg-no-repeat  bg-scroll bg-[url("./assets/images/homeheadertest.jpg")];
	}

	.child {
		@apply absolute translate-x-[-50%] translate-y-[-50%];
	}
	.box {
		@apply absolute translate-x-[-50%] translate-y-[-50%] cursor-pointer;
	}
	.box span {
		@apply block animate-bounce opacity-50;
	}

	/* --------- CLASSEMENT --------- */

	.ptable table {
		@apply my-8 mx-auto;
	}
	.promotion,
	.relegation {
		@apply text-left;
	}
	.promotion td {
		@apply text-black bg-lime-400;
	}
	.relegation td {
		@apply text-black bg-red-400;
	}

	/* --------- NAVBAR --------- */

	.nav-center {
		@apply nav:max-w-6xl nav:my-0 nav:mx-auto nav:flex nav:justify-between nav:items-center nav:p-4;
	}
	.nav-header {
		@apply flex justify-between items-center p-4 nav:p-0;
	}
	.nav-toggle {
		@apply text-nav text-black bg-transparent border-transparent transition delay-100 duration-200 ease-in-out nav:hidden;
	}
	.nav-toggle:hover {
		@apply text-primaryGreen rotate-90;
	}
	.logo {
		@apply h-10;
	}

	.links {
		@apply flex gap-2;
	}
	.links a {
		@apply text-gray-700 text-linksNav capitalize tracking-wider block px-4 py-2 transition delay-150 duration-300 ease-in-out nav:p-0;
	}

	.links-container {
		@apply transition delay-150 duration-300 ease-in-out overflow-hidden nav:!h-auto;
	}

	.nav-link {
		@apply py-2 px-2 transition delay-150 duration-300 ease-in-out tracking-widest;
	}
	.nav-link:hover {
		@apply text-orange-500;
	}

	.social-icons {
		@apply hidden nav:flex nav:gap-2;
	}

	.social-icons a {
		@apply text-black transition delay-150 duration-300 ease-in-out;
	}

	.social-icons a:hover {
		@apply opacity-80;
	}
}
/* target the active bullet */
span.swiper-pagination-bullet.swiper-pagination-bullet-active {
	background-color: #15a34a;
	opacity: 1;
	transform: scale(1.25);
}

/* target all bullets */
.swiper-pagination-bullet {
	background-color: grey;
	opacity: 0.8;
}

/* LOADING SPINNER */

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.loading-spinner {
	width: 100px;
	height: 100px;
	border: 10px solid #f3f3f3; /* Light grey */
	border-top: 10px solid #383636; /* Black */
	border-radius: 50%;
	animation: spinner 1.5s linear infinite;
}
